/**
 * CSS Styling for styling the html or jsx react file
 * > description 
 *  - This is the folder that contain all the Home styling code
 * > Create On 
 *  - Date: 26/12/2025
 *  - By: Anson Ling
 * > Update On 
 *  - Date: 26/12/2025
 *  - By: Anson Ling
 */

@import url('../../index.css');

.homepage_ctr {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.homeleft_ctr {
    width: 500px;
}
.highlight {
    color: var(--bg-color1);
    font-weight: bold;
}
h1, p {
    margin: 0;
    font-family: var(--primary-txt2);
}
p {
    margin-top: 8px;
    color: var(--primary-txt2);
}
.shopBtn {
    width: 8rem;
    height: 2.5rem;
    margin-top: 2.5rem;
    font-weight: bold;
    background-color: var(--bg-color1);
    color: var(--bg-color2);
    border: none;
    border-radius: 1000px;
}
.rate_ctr {
    margin-top: 2.5rem;
    font-family: var(--primary-txt2);
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.rating_icons {
    display: flex;
    gap: .8rem;
}
.rateicons {
    width: 1rem;
    height: 1rem;
}
.rating_ctr {
    font-size: 1rem;
    font-weight: 500;
}
.googleicons {
    margin-top: .6rem;
    width: 3rem;
    height: 3rem;
}

.content_image {
    width: 550px;
    height: 400px;
    border-radius: 12px;
}