/**
 * CSS Styling for styling the html or jsx react file
 * > description 
 *  - This is the folder that contain all the index styling code
 *  - This is also where the global variable be defined
 * > Create On 
 *  - Date: 25/12/2025
 *  - By: Anson Ling
* > Update On 
 *  - Date: 26/12/2025
 *  - By: Anson Ling
 */

 @import url('https://fonts.googleapis.com/css2?family=Popins:wght@200;400;700&display=swap');

:root {
  --font-family1: 'Poppins', sans-serif;
  --font-family2: 'Josefin Sans', sans-serif;

  --bg-color1: #aa3c3b;
  --bg-color2: #c65c38;
  --bg-color3: white;
  --bg-color4: white;

  --primary-txt1: hsl(0, 0, 0);
  --primary-txt2: hsl(0, 0, 15);
}

body {
  margin: 0;
  font-family: var(--font-family1);
}
